beautifulsoup4
docling
docling
fastembed
gradio
ipykernel
langchain
langchain-community
langchain-core
langchain-docling
langchain-huggingface
langchain-ollama
langchain-qdrant
langchain-text-splitters
markitdown
ollama
openai
pandas
python-dotenv
qdrant-client
ragas
rich
sentence-transformers
torch
torchvision
transformers
