langchain
langchain-text-splitters
langchain-community
langchain-huggingface
langchain-anthropic
langchain-qdrant
langchain-docling
langchain_ollama

docling

sentence-transformers
fastembed
qdrant-client
openai
ragas
python-dotenv
pandas
sacrebleu
rouge_score

bs4
ipykernel
markitdown
markitdown[pdf]
pdfplumber
pypdf

ollama
rich
gradio